:root {
  font-family: Arial, Helvetica, sans-serif;
  --main-color: purple;
}

a:visited {
  color: var(--main-color);
}

.header {
  color: var(--main-color);
  text-align: center;
}
/*
.nav-bar {
  font-size: 3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  
}*/

.navbar-menu {
  background-color: #ebf5ee;
  min-height: 50px;

}
.navbar-item{
  font-size: 1.3em;

}
.component {
  align-items: center;
  margin-bottom: 5%;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.form-container > * {
  margin: 0.5rem;
  margin-bottom: 50px;
}

.form-container input {
  font-size: 1.2em;
}

.neighborhood-item-actions {
  margin: 10px 0px;
}

.neighborhood-item-actions * {
  margin-right: 20px;
}

.primary-header {
  font-size: 4em;
  margin-bottom: 4%;
}

.secondary-header {
  font-size: 3em;
  text-decoration: underline;
  margin-bottom: 1%;
}

.main {
  display: flex;
  flex-direction: row;
}

.subcontainer {
  width: 50%;
  margin: 5%;
  overflow-wrap: break-word;
}

.neighborhood-form-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.neighborhood-form-container form input {
  font-size: 1.2em;
  margin: 2%;
}
/*
.button {
  background-color: skyblue;
  border-radius: 10px;
  margin: 4%;
  padding: 2%;
  font-weight: bold;
  font-style: italic;
}*/

.button {
  box-shadow: 3px 2px 7px 0px #899599;
  background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
  background-color:#ededed;
  border-radius:40px;
  border:1px solid #d6bcd6;
  display:inline-block;
  cursor:pointer;
  color:#9c783a;
  font-family:Arial;
  font-size:18px;
  padding:7px 25px;
  text-decoration:none;
  text-shadow:2px 1px 2px #e1e2ed;
}
.button:hover {
  background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
  background-color:#bab1ba;
}
.button:active {
  position:relative;
  top:1px;
}



.deleteButton {
  box-shadow:inset 0px -2px 0px 0px #f5978e;
  background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
  background-color:#f24537;
  border-radius:14px;
  border:1px solid #d02718;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Courier New;
  font-size:12px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 9px #810e05;
}
.deleteButton:hover {
  background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
  background-color:#c62d1f;
}
.deleteButton:active {
  position:relative;
  top:1px;
}

.neighborhoods-container, .crimes-container {
  height: 500px;
  overflow: auto;
  padding-right: 40px;
}

.neighborhood-container, .crime-container {
  border: 1px solid black;
  padding: 10px;
  margin: 30px 0px;
  padding-left: 3%;
}

.neighborhood-name, .crime-name {
  font-size: 2em;
}

.danger{
  border: 2px solid  #ffffff;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
}

.delete-account {
  background-color:  #eb8f8f;
  border-radius: 10px;
  font-style: bold;
  color:  black;
  border: 2px solid  #dbf6e9;
  margin: 1%;
}